<p-card header="Edit categories">
  <div class="grid">
    <div class="col-6">
      <p-tree
        [value]="files"
        [(selection)]="selectedFile"
        selectionMode="single"
      ><ng-template let-node pTemplate="default">
        {{ node.label }} / {{node.data?.publicId}}
        &nbsp;&nbsp;
        <span (click)="moveNodeUp(node)" class="pi pi-chevron-up up-tree-button"></span>
        <span (click)="moveNodeDown(node)" class="pi pi-chevron-down up-tree-button"></span>
      </ng-template>
      </p-tree>
    </div>
    <div class="col-6" *ngIf="selectedFile">
      <div class="grid">
        <div class="col-12">
          <span class="p-buttonset mr-5">
            <button
              pButton
              *ngFor="let lang of languages"
              label="{{lang.toUpperCase()}}"
              [class.p-button-secondary]="!selectedFile.data!.title[lang]"
              [class.p-button-success]="lang == currentLanguage"
              (click)="changeLanguage(lang)"
            ></button>
          </span>
          <p-button
            icon="pi pi-plus"
            styleClass="mr-2"
            label="Add child"
            (click)="addChild(selectedFile)"
          ></p-button>
          <p-button
            icon="pi pi-times"
            styleClass="p-button-danger"
            label="Remove"
            (click)="deleteNode(selectedFile)"
          ></p-button>
        </div>
      </div>
      <label class="block font-bold mb-2" for="name">Title</label>
      <input
        id="name"
        type="text"
        pInputText [(ngModel)]="selectedFile.data!.title[currentLanguage]"
        (ngModelChange)="selectedFile.label = $event"
      />

      <span class="ml-2"
            *ngFor="let lang of languages"
      ><b>{{lang.toUpperCase()}}</b>: {{selectedFile.data!.title[lang]}}</span>

      <label class="block font-bold mt-2" for="name">Public id</label>
      <p>
        Це публичній идентіфикатор категорії, використовується в ссилках.
        Це означає, що змінювати це значення не рекомендується, бо інакше ссилки з старим ім'ям працювати не будуть.
        Також, якщо в цій категорії є якісь продукти, то потрібно зберегти їх заново, інакше вони не відображатимуться в пошуку на сайті.
      </p>
      <input
        id="publicId"
        type="text"
        pInputText [(ngModel)]="selectedFile.data!.publicId"
      />
      <button
        pButton
        class="ml-2"
        label="Make from title"
        (click)="makePublicIdFromTitle(selectedFile)"
      ></button>
    </div>
    <div class="col-12">
      <p-button
        icon="pi pi-plus"
        styleClass="mr-2"
        label="Add root category"
        (click)="addRoot()"
      ></p-button>
      <p-button
        icon="pi pi-save"
        styleClass="p-button-success"
        label="Save"
        (click)="save()"
      ></p-button>
    </div>
  </div>
</p-card>
