<p-card header="Create product">
  <div class="grid">
    <div class="col-3">
      <label class="block font-bold mb-2" for="name">Name</label>
      <input
        id="name"
        type="text"
        pInputText [(ngModel)]="name"
      />
    </div>
    <div class="col-3">
      <label class="block font-bold mb-2" for="price">Price</label>
      <p-inputNumber
        id="price"
        [(ngModel)]="price"
        inputId="minmaxfraction"
        mode="currency"
        [minFractionDigits]="2"
        [maxFractionDigits]="5"
        currency="UAH"
      > </p-inputNumber>
    </div>
  </div>
  <br>
  <div class="grid">
    <div class="col-12">
      <p-button
        type="button"
        label="Add"
        icon="pi pi-save"
        [disabled]="isLoading"
        [loading]="isLoading"
        (click)="createProduct()"
      ></p-button>
    </div>
  </div>
</p-card>
