<div class="grid">
  <div class="col-2 bg-primary-reverse h-screen">
    <div class="grid">
      <div class="col-12">
        <app-header></app-header>
      </div>
      <div class="col-12">
<!--        <app-side-menu></app-side-menu>-->
        <a routerLink="/create-product" routerLinkActive="active">Create</a>
        <a routerLink="/edit-product" routerLinkActive="active">Edit</a>
        <a routerLink="/list-product" routerLinkActive="active">List</a>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
