<p-card header="Edit product" *ngIf="product">
  <div class="grid">
    <div class="col-1">
      <label class="block font-bold mb-2" for="active">Active</label>
      <p-inputSwitch
        id="active"
        [(ngModel)]="product!.active"
      ></p-inputSwitch>
    </div>
    <div class="col-3">
      <label class="block font-bold mb-2" for="name">Name</label>
      <input
        id="name"
        type="text"
        pInputText [(ngModel)]="product!.title[currentLanguage]"
      />
    </div>
    <div class="col-3">
      <label class="block font-bold mb-2">Languages</label>
      <span class="p-buttonset">
        <button
          pButton
          *ngFor="let lang of languages"
          label="{{lang.toUpperCase()}}"
          [class.p-button-secondary]="!product.title[lang]"
          [class.p-button-success]="lang == currentLanguage"
          (click)="changeLanguage(lang)"
        ></button>
      </span>
    </div>
  </div>
  <div class="grid">
    <div class="col-3">
      <div class="col-3">
        <label class="block font-bold mb-2" for="price">Price</label>
        <p-inputNumber
          id="price"
          [(ngModel)]="product!.price"
          inputId="minmaxfraction"
          mode="currency"
          [minFractionDigits]="2"
          [maxFractionDigits]="5"
          currency="UAH"
        > </p-inputNumber>
      </div>
    </div>
  </div>
  <p-table [value]="product!.items" styleClass="p-datatable-striped p-datatable-sm">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <p-multiSelect
          (onChange)="onSelectedAttributesChange()"
          [options]="attributes"
          [(ngModel)]="selectedAttributes"
          defaultLabel="Select attributes"
          optionLabel="name"
          display="chip"
        ></p-multiSelect>
        <p-button icon="pi pi-plus" (onClick)="addItem()"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let attr of selectedAttributes">
          {{ attr.name }}
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td *ngFor="let attr of selectedAttributes">
          <p-dropdown
            *ngIf="attr.type === attributeTypeEnum.SELECT"
            [options]="attr.values"
            [(ngModel)]="item.attributes[attr.key][0]"
          ></p-dropdown>
        </td>
        <td class="flex flex-wrap gap-3 justify-content-end">
          <p-button
            icon="pi pi-clone"
            styleClass="p-button-success"
            (onClick)="cloneItem(item)"
          ></p-button>
          <p-button
            icon="pi pi-minus"
            styleClass="p-button-danger"
            (onClick)="removeItem(item)"
          ></p-button>
      </tr>
    </ng-template>
  </p-table>
  <br>
  <div class="grid">
    <div class="col-12">
      <p-button
        type="button"
        label="Save"
        icon="pi pi-save"
        [disabled]="isLoading"
        [loading]="isLoading"
        (click)="updateProduct()"
      ></p-button>
    </div>
  </div>
</p-card>
